
.art{
    width: 100vw;
    background-color: #CEE0DC;
    display: flex;
    flex-direction: column;
    .artImages{
        margin: 3vw;
        padding: 2vw;
        border-radius: 2em;
        width: 90vw;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        background-color: #022B3A;
        .artInstance{
            background-image: radial-gradient(rgba(206, 224, 220, 1) 55%, rgba(2, 43, 58, 1) 70%);
            .artInstanceImage{
                width: 21em;
                height: 21em;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .artInstanceImageImage{
                    cursor: pointer;
                    width: 17.5em;
                    height: 17.5em;
                    object-fit: contain;
                }
            }
        }
    }
    // .artImages{
    //     margin-top: 2em;
    //     display: flex;
    //     flex-direction: row;
    //     flex-wrap: wrap;
    //     justify-content: space-evenly;
    //     .artInstance{
    //         // background-image: linear-gradient(to bottom, rgba(0, 255,255,0), rgba(0 ,255,255, 1) 98%);
    //         // background-image: radial-gradient(rgba(255, 255, 255, 1), rgba(0, 0, 0, 1) 75%);
    //         background-image: radial-gradient(rgba(234, 241, 234, 1) 25%, rgba(40, 101, 154, 1) 75%);
    //         .artInstanceImage{
    //             width: 23em;
    //             height: 23em;
    //             display: flex;
    //             flex-direction: column;
    //             align-items: center;
    //             justify-content: center;
    //             .artInstanceImageImage{
    //                 cursor: pointer;
    //                 width: 19em;
    //                 height: 19em;
    //                 object-fit: contain;
    //             }
    //         }
    //     }
    // }
}