
.art{
    width: 100%;
    background-color: Black;
    display: flex;
    flex-direction: column;
    .artText{
        background-color: black;
    }
    .artImages{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        .artInstance{
            // background-image: linear-gradient(to bottom, rgba(0, 255,255,0), rgba(0 ,255,255, 1) 98%);
            // background-image: radial-gradient(rgba(255, 255, 255, 1), rgba(0, 0, 0, 1) 75%);
            background-image: radial-gradient(rgba(255, 255, 255, 1) 25%, rgba(0, 0, 0, 1) 75%);
            .artInstanceImage{
                width: 23em;
                height: 23em;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .artInstanceImageImage{
                    cursor: pointer;
                    width: 19em;
                    height: 19em;
                    object-fit: contain;
                }
            }
        }
    }
}