body {
  margin: 0;
}

body::-webkit-scrollbar {
  display: none;
}

.navigation .navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: 7vh;
  background-color: #CEE0DC;
}
.navigation .navbar .navbarHome {
  display: flex;
}
.navigation .navbar .navbarPages {
  display: flex;
}
.navigation .navbar .navbarPages .navbarPage .navbarProfile {
  text-decoration: none;
}
.navigation .navbar .navbarPages .navbarPage .navbarProfile .navbarProfileInner {
  margin-top: 1em;
  margin-left: 1.5em;
  margin-right: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 7em;
  height: 2em;
  background-color: #FF9505;
  border-radius: 2em;
  text-align: center;
}

.home {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 93vh;
  background-color: #CEE0DC;
}
.home .homeLeft {
  margin: 1.5em;
  border-radius: 2em;
  width: 20em;
  overflow: hidden;
  background-color: #FF9505;
}
.home .homeLeft .profileImage .profileImageImage {
  padding: 1.5em;
  width: 17em;
  object-fit: contain;
  border-radius: 2.8em;
}
.home .homeLeft .contactHolder {
  width: 17em;
  padding: 1.5em;
}
.home .homeRight {
  background-color: #EAF1EA;
  width: 65em;
  margin: 1.5em;
  border-radius: 2em;
}
.home .homeRight .homeRightText {
  display: flex;
  flex-direction: column;
  padding: 10%;
  padding-top: 2%;
}
.home .homeRight .homeRightText .homeRightParagraph {
  margin-top: 2%;
}

.art {
  width: 100vw;
  background-color: #CEE0DC;
  display: flex;
  flex-direction: column;
}
.art .artImages {
  margin: 3vw;
  padding: 2vw;
  border-radius: 2em;
  width: 90vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #022B3A;
}
.art .artImages .artInstance {
  background-image: radial-gradient(rgb(206, 224, 220) 55%, rgb(2, 43, 58) 70%);
}
.art .artImages .artInstance .artInstanceImage {
  width: 21em;
  height: 21em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.art .artImages .artInstance .artInstanceImage .artInstanceImageImage {
  cursor: pointer;
  width: 17.5em;
  height: 17.5em;
  object-fit: contain;
}

.writings {
  padding-top: 1.5em;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  background-color: #CEE0DC;
}
.writings .writingsText {
  display: flex;
  width: 80%;
  padding-bottom: 1em;
}
.writings .writingBlocks {
  display: flex;
  flex-direction: column;
  width: 80%;
}
.writings .writingBlocks .writingBlock {
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  margin-bottom: 2%;
  height: 7em;
  border-radius: 2em;
  overflow: hidden;
  position: relative;
}
.writings .writingBlocks .writingBlock .writingBlockHeader {
  background-color: #022B3A;
  text-align: center;
  color: #FF9505;
}
.writings .writingBlocks .writingBlock .wiritingBlockText {
  background-color: #CEE0DC;
}
.writings .writingBlocks .writingBlock::after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  pointer-events: none;
  background-image: linear-gradient(to bottom, rgba(0, 255, 255, 0), rgb(206, 224, 220) 98%);
  width: 100%;
  height: 5em;
}

.projectsHolder {
  background-color: #CEE0DC;
  width: 100vw;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.projectsHolder .projectsSpace {
  width: 100vw;
  height: 1em;
}
.projectsHolder .projects {
  width: 96vw;
  padding-top: 2em;
  border-radius: 5em;
  background-color: #EAF1EA;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 2em;
}
.projectsHolder .projects .projectsText {
  padding-top: 2em;
  padding-bottom: 2em;
  width: 80vw;
}
.projectsHolder .projects .projectSections {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projectsHolder .projects .projectSections .projectSection {
  border-radius: 2em;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  width: 80vw;
  margin: 1em;
  position: relative;
}
.projectsHolder .projects .projectSections .projectSection .projectImageSection .projectInstanceImage {
  width: 15vw;
  height: 10em;
  object-fit: contain;
  background-color: #CEE0DC;
}
.projectsHolder .projects .projectSections .projectSection .projectDescriptionSection {
  background-color: #CEE0DC;
  height: 10em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 65vw;
}
.projectsHolder .projects .projectSections .projectSection .projectDescriptionSection .projectTitle {
  font-size: 22px;
  height: 2em;
  padding-left: 2em;
}
.projectsHolder .projects .projectSections .projectSection .projectDescriptionSection .projectDescription {
  height: 8em;
  padding-left: 1em;
}
.projectsHolder .projects .projectSections .projectSection::after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  pointer-events: none;
  background-image: linear-gradient(to bottom, rgba(0, 255, 255, 0), rgb(206, 224, 220) 99%);
  width: 80vw;
  height: 4em;
}

.instanceBackground {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
}
.instanceBackground .instance {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 60vw;
  margin-bottom: 3em;
}
.instanceBackground .instance .instanceHeader {
  margin-top: 1em;
  font-size: 35px;
  margin-bottom: 1em;
}
.instanceBackground .instance .instanceDescription {
  margin-top: 0.5em;
  width: 100%;
  font-size: 20px;
  margin-bottom: 0.5em;
}
.instanceBackground .instance .instanceImage {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.instanceBackground .instance .instanceImage .instanceImageImage {
  max-width: 35em;
  max-height: 35em;
  object-fit: contain;
}
.instanceBackground .instance .instanceImage .instanceImageDescription {
  max-width: 50em;
}

/*# sourceMappingURL=base.css.map */
